@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');


body {
  font-family: ramabhadra;
  line-height: 1.5;
  background-color: #CCE7FF;
  width: 100%;
  overflow-x: hidden;
}


/* TEXT */
h1 {
  font-size: min(5vw, 6vw);
  font-weight: bold;
  margin-top: 10px;
  color: #F06565;
  transition: 500ms;
}

h1:hover {
  text-shadow: 3px 3px black;
 transition: 500ms;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
}

h3 {
  font-size: 1.125em;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

/* NAV */

header {
  margin-top: 40px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

header>a>h1 {
  margin-left: 5%;
  padding-bottom: 10px;
  text-decoration: underline;
  text-underline-offset: 30px;
  width: 100%;
}

header>nav {
  margin-right: 10px;
  
}

nav>ul {
  display: flex;
  justify-content: space-between;
  color: #F06565;
  font-size: 3vw;
  
}

nav>ul:hover li {
  opacity: 0.2;
  transition: 200ms;
}

nav>ul li:hover {
  opacity: 1;
  text-shadow: 3px 3px black;
  text-decoration: underline;
  text-underline-offset: 10px;
}

nav>ul>a>li {
  padding: 0 20px;
  transition: 200ms;
}






/* Hero Section */

.hero {
  width: 100%;
  height: 600px;
}

.hero>div {
  background-color: white;
  width: 400px;
  height: 200px;
  position: relative;
  top: 20%;
  left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid black;
  z-index: 1;
  transition: 400ms;
}

.hero>div>p {
  transition: 400ms;
}

.hero>div:hover, .hero>div>p:hover {
 transform: scale(1.08);
 transition: 400ms;
 text-shadow: 2px 2px salmon;
 text-decoration: underline;
}

.hero>div>p {
  font-size: 40px;
  width: 70%;
}


.hero>img {
  transform: scaleX(-1);
  width: 1500px;
  position: relative;
  left: 35%;
  top: -150px;
  z-index: 4;
  transition: 200ms;
}



/* LOCCATIONS SECTION */

.locations {
  background-color: #96715D;
  
  padding-top: 80px;
}

.locations>h2 {
  font-size: 3.5em;
  text-shadow: 2px 2px salmon;
  background-color: white;
  margin: 0 auto;
  /* width: 600px; */
  width: fit-content;
  padding: 0 20px;
  text-align: center;
  border-radius: 20px;
margin-top: 30px;
}

.locations>h2:before {
  content: "- ";
}

.locations>h2:after {
  content: " -";
}


.locations>ul {
  display: flex;
  justify-content: space-around;
  width: 85%;
  height: 200px;
  margin: 20px auto;

}

.locations>ul>li {
  width: 20%;
  margin: 20px 5px;
  font-size: 2em;
  background-color: #CCE7FF;
  display: grid;
  place-items: center;
  transition: 500ms;
}

.locations>ul>li:hover {
  background-color: white;
  transition: 500ms;
  box-shadow: 3px 3px black;
}


.hours {
  font-size: 3.5em;
  position: relative;
  right: 20%;
  margin-top: 100px;
  text-align: center;
  top: 165px;
}

.listings {
background-color: #CCE7FF;
width: 300px;
margin: 0 auto;
position: relative;
left: 20%;
padding: 30px;
border-radius: 40px;
}

.listings>p {
  font-size: 1.5em;
  line-height: 3;
}
.space {
height: 60px;
  background-color: #96715D;
}

footer {
  background-color: black;
  height: 100px;
  color: white;
  display: grid;
  place-items: center;
  font-size: 1.3em;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}


/* THISS ISS THEE
f
f
f
f
f
f
f
f
SALLLESSS PPAAAAGEEEEEE*/


.th {
  text-align: center;
  margin-top: 100px;
  font-size: 3em;
  text-decoration: underline;
  text-underline-offset: 20px;
}

#store-ctr {
  margin-top: 60px;
}




/* Sales TABLE */


table {
  margin: 0 auto;
  border: 1px solid black;
  font-family: helvetica;
  font-size: 1.2em;
}

table th {
  padding: 10px 20px;
  border: 1px solid black;
}

table td {
  border: 1px solid black;
  text-align: center;
}

table td:hover, table th:hover {
  transition: 300ms;
  transform: scale(1.2);
}

tfoot {
  font-weight: bold;
}


/* FORM */

.form-ctr {
display: flex;
align-items: center;
justify-content: center;
}

form {
  margin-top: 50px;
  width: 60%;
  text-align: right;
}

form>legend>h2 {
  font-size: 3em;
  text-decoration: underline;
  text-underline-offset: 20px;
  text-align: center;
}

form>legend {
  margin-bottom: 40px;
}

form>label {
  font-size: 1.5em;
  position: relative;
  right: 25%;
}

input[type=submit] {
  background-color: #CCE7FF;
  width: 300px;
  height: 100px;
  font-size: 1.2em;
  border: 4px #F06565 solid;
  border-radius: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
  transition: 500ms;
}

input[type=submit]:hover {
  background-color: white;
  transition: 500ms;
  text-shadow: 2px 2px salmon;
  box-shadow: 10px 10px black;
 
}






